.nav{
    background-color: lightslategrey;
    z-index: 9;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 50px black;
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width: 40%;
}
.logo img{
    padding: 10px;
}
.nav_side{
    float: right;
    width: 60%;
    margin-top: 25px;
}
.nav_side a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: coral;
    text-decoration: underline;
    transition: all .5s ease;
}

.main{
    background-image: url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75vh;
}
.main .main_content{
    padding-top: 25%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.main .main_content h2{
    color: rgb(255, 118, 59);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    line-height: 10px;
}
.main .main_content h2 span{
    color: rgb(95, 160, 251);
    font-size: 15px;
    font-weight: lighter;
}
.main .main_content .btn{
    margin-top: 50px;
}
.main .main_content .btn a{
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: darkorange;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px solid black;
    border-radius: 10px;
}
.main .main_content .btn a:hover{
    background-color: black;
    color: darkorange;
    border-bottom: 4px solid darkorange;
    transition: .5s;
}

.product{
    background-color: antiquewhite;
    padding-bottom: 100px;
}
.product h2{
    color: black;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px .25px 5px red;
}
.product .product_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.product .product_container .item{
    width: 33%;
    margin: 10px;
    height: 730px;
}
.product .product_container .item:hover{
    box-shadow: 0px 3px 50px black;
}
.product .product_container .item .item_img{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.product .product_container .item .item_img img{
    width: 100%;
    height: 500px;
}
.product .product_container .item .item_content{
    text-align: center;
}
.product .product_container .item .item_content h3{
    padding: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.product .product_container .item .item_content p{
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.product .product_container .item .item_content a{
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: darkorange;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px solid black;
    border-radius: 10px;
}
.product .product_container .item .item_content a:hover{
    background-color: black;
    color: darkorange;
    border-bottom: 4px solid darkorange;
    transition: .5s;
}
.product .product_btn{
    text-align: center;
    margin-top: 50px;
}
.product .product_btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: darkorange;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px solid black;
    border-radius: 10px;
}
.product .product_btn a:hover{
    background-color: black;
    color: darkorange;
    border-bottom: 4px solid darkorange;
    transition: .5s;
}

.keypoint{
    padding: 50px;
    background-color: antiquewhite;
}
.keypoint h2{
    color: black;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px .25px 5px red;
}
.keypoint .key_container{
    display: flex;
}
.keypoint .key_container .key_contents{
    width: 40%;
    padding: 20px;
    float: left;
}
.keypoint .key_container .key_contents li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orangered;
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 2px 16px black;
}
.keypoint .key_container .key_img{
    width: 50%;
    float: right;
}
.keypoint .key_container .key_img img{
    width: 100%;
}

.testi{
    padding: 50px;
    background-color: antiquewhite;
}
.testi h2{
    color: black;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px .25px 5px red;
    text-transform: uppercase;
}
.testi .testi_container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.testi .testi_container .carousel{
    background-color: #F9E79F;
}
.testi .testi_container .item{
    width: 100%;
    margin: 20px;
}
.testi .testi_container .item .testi_img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 1%;
}
.testi .testi_container .item .testi_img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.testi .testi_container .item .testi_content{
    text-align: center;
    margin-bottom: 50px;
}
.testi .testi_container .item .testi_content h3{
    padding: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.testi .testi_container .item .testi_content p{
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.testi .testi_container .carousel-indicators li{
    background-color: lightgray;
}

.team{
    padding: 50px;
}
.team h2{
    color: black;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px .25px 5px red;
    text-transform: uppercase;
}
.team .team_container{
    display: flex;
}
.team .team_container .team_video{
    width: 50%;
    height: 400px;
    padding: 20px;
}
.team .team_container .team_video iframe{
    width: 100%;
    height: 100%;
    border: 10px solid orange;
    outline: none;
}
.team .team_container .team_content{
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}
.team .team_container .team_content p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.feed{
    padding: 50px;
    background-image: url("images/bac_img.png");
    background-size: contain;
}
.feed h2{
    color: white;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px .25px 5px red;
    text-transform: uppercase;
}
.feed .feed_form{
    text-align: center;
}
.feed .feed_form form{
    padding: 20px;
}
.feed .feed_form form input{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form textarea{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form button{
    width: 10%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: darkorange;
    color: black;
    border-bottom: 4px solid black;
    border-radius: 5px;
}
.feed .feed_form form button:hover{
    color: darkorange;
    background-color: black;
    border-bottom: 4px solid darkorange;
}

.aboutq{
    padding: 150px;
}
.aboutq h2{
    color: orange;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.aboutq p{
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 30px;
}

.contact_container{
    padding: 150px;
}
.contact_container h2{
    color: orange;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.contact_container .gmap{
    border: 10px solid #E53935;
}
.contact_container .contact_content{
    padding: 20px;
}
.contact_container .contact_content p{
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
}

footer{
    background-color: #BDC3C7;
}
footer .f_logo{
    padding: 10px;
}
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: #E67E22;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
footer .pages a:hover{
    color: white;

}
footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: #E67E22;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
footer .doc a:hover{
    color: white;

}
footer .social{
    text-align: center;
}
footer .social h3{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
footer .social a{
    font-size: 30px;
    color: #E67E22;
    margin: 10px;
}
footer .social a .fa-instagram:hover{
    color: #EC407A;
}
footer .social a:hover{
    color: #3498DB;
}
footer .contact{
    text-align: center;
}
footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
footer .contact a{
    font-size: 30px;
    color: #E67E22;
    margin: 10px;
}
footer .contact a .fa-whatsapp:hover{
    color: #66BB6A;
}
footer .contact a .fa-phone:hover{
    color: #3498DB;
}
footer .contact a .fa-envelope-o:hover{
    color: #E53935;
}